.caja{
    background:#61b387;
    width: 400px;
    /*
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 30px;*/
    padding: 30px;
    margin: 50px;
    border: 10px solid #000;
}
.imagen{
    width: 400px;
    border: 5px solid #000;
    padding: 20px;
    margin: 0px 100px;
}