.menu{
    background: lightgray;
}
.menu a{
    color: aqua;
}
/*selector de hijos*/
.menu >a{
    font-size: 30px;
}

/*selector general*/
h3 ~ p{
    color: lightcoral;
    font-size: 30px;

}