/*.contenedor .articulo{
    background-color: pink;
}

.contenedor .articulo h2{
    font-size: 40px;
}

.contenedor .articulo p{
    color: mediumslateblue;
}
.contenedor .articulo.destacado{
    background: skyblue;
}
.contenedor .articulo.destacado h2{
    color: blueviolet;
}*/

/*ejemplo con anidado*/
.contenedor{
    .articulo{
        background: lightblue;
        &.destacado{
            background: lightcoral;
            h2{
                color: brown;
            }
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        a{
            color: rgb(0, 255, 187);
            font-size: 20px;
        }
    }
}